<div class="row">
	 <div class="col-lg-12">
 	   <div class="page-header">
			 	<h1>Доступные для оценки соревнования</h1>
	   </div>
   </div>
 	<div class="col-lg-2">
 		<div ng-hide=" errorMessage === '' " class="alert alert-dismissible alert-danger">
  		<strong>Проблемка =(</strong>
   		{{errorMessage}}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
						<div class="list-group" ng-repeat='competition in competitions.slice().reverse()'>
								<a href="/vote/{{competition.id}}/{{auth.id}}" class="list-group-item">
									<h4 class="list-group-item-heading"><strong>{{competition.date}}</strong> {{competition.name}}(<em>{{competition.kind}}</em>)</h4>
									<p class="list-group-item-text">{{competition.text}}</p><br/>
									<p class="text-right">Проголосовало людей: <strong>{{votedCountMass[competition.id]}}</strong></p>
								</a>
					 </div>
	</div>
</div>
