<div class="row">
  <div class="page-header">
    <h2>Вход на сайт</h2>
  </div>
</div>

<div class="row well">
      <div class="col-lg-6 col-lg-offset-2">
        <div class="row">
          <form class="form-horizontal" name="signInForm" novalidate>
            <fieldset>
                <div class="form-group" ng-class="{ 'has-error': signInForm.email.$error.pattern || signInForm.email.$error.error  ||
                                                                (signInForm.email.$error.required && signInForm.email.$touched) }">
                    <label for="email" class="col-lg-3 control-label">Email</label>
                    <div class="col-lg-9">
                        <input type="email" name="email" ng-model-options="{ updateOn: 'blur' }" ng-pattern="regex.email"
                               class="form-control" id="email" ng-model="signInData.email" placeholder="mymail@gmail.com" autofocus required>
                        <p ng-show="signInForm.email.$error.pattern" class="help-block">Введите правильный email</p>
                        <p ng-show="signInForm.email.$error.error" class="help-block">Неправильный логин или пароль</p>
                        <p ng-show="signInForm.email.$error.required && signInForm.email.$touched" class="help-block">Заполните email</p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': signInForm.password.$error.required && signInForm.password.$touched }">
                    <label for="password" class="col-lg-3 control-label">Пароль</label>
                    <div class="col-lg-9">
                        <input type="password" name="password" ng-model-options="{ updateOn: 'blur' }"
                               class="form-control" id="password" ng-model="signInData.password" required>
                        <p ng-show="signInForm.password.$error.required && signInForm.password.$touched" class="help-block">Заполните пароль</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-1 col-lg-offset-3">
                        <button type="submit" ng-click="signIn(signInData, signInForm)" class="btn btn-info">Войти</button>
                    </div>
                </div>
            </fieldset>
          </form>
        </div>
    </div>
</div>
